<h1>管理画面のユーザー一覧</h1>
<p class="notice-error ">
    <%= notice %>
</p>
<div class="col-ml-3">
  <table class="table table-striped">
    <% @user.each do |user| %>
        <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= link_to  "削除" , admin_user_path(user.id), method: :delete, data: { confirm: '削除しますか？' } , class: 'btn btn-danger'%></td>
        <tr>
    <% end %>
  </table>
<div>